[Desktop Entry]
Name=NeovimGtk
Comment=Gtk GUI for Neovim text editor
Exec=nvim-gtk -- %F
Icon=org.daa.NeovimGtk
Type=Application
Terminal=false
Categories=GTK;Utility;TextEditor;
StartupNotify=true
